html, body {
  height: 100%;
  color: #61DAFB;
  background: #2D2D2D;
}

h1 {
  margin: 20px 0 15px 0;  
}

#main {
  width: 600px;
  margin: 0 auto;
  text-align: left;
}

ul {
  list-style: none;
  margin-right: 20px;
}

ul>li:hover {
  background-color: #b1c0b8;
}

.form-inline .form-control {
  width: 50%;
  margin-left: 80px;
}

.done {
  color: white;
  text-decoration: line-through;
}

.undone {
  color: #61DAFB;
}

.icon {
  margin: 6px 10px 6px 0;
}

.close{
  margin-left: 26px;
  margin: 2px 2px;
}

.form-control{
  margin: 6px 10px 6px 0;
  padding: 9px;
}

.btn-default{
  padding: 9px;
}